@model List<DoAnNhom6.Models.TblBlog>

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Bài viết</h2>
            </div>
            <div class="col-12">
                <a href="">Trang chủ</a>
            </div>
        </div>
    </div>
</div>
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Bài viết</p>
            <h2>Bài viết mới nhất</h2>
        </div>
        <div class="row">

                @foreach(var item in Model)
                {           
                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="@item.Image" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">@item.Title</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>@item.CreatedBy</p>
                                    <p><i class="far fa-list-alt"></i>@item.Category.Name</p>
                                    <p><i class="far fa-calendar-alt"></i>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</p>
                                    <p><i class="far fa-comments"></i>10</p>
                                </div>
                                <div class="blog-text">
                                    <p>
                                        @item.Description
                                    </p>
                                    <a class="btn custom-btn" href="/blog/@(item.Alias)-@(item.BlogId)">Xem thêm</a>
                                </div>
                            </div>
					    </div>
				    </div>
                }
                
            
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#">Trước</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>