@model TblProductReview
@{

    List<TblProductReview> productReView = ViewBag.productReView;
    List<TblProduct> productRelated = ViewBag.productRelated;

}

<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Menu</h2>
            </div>
            <div class="col-12">
                <a href="">@Model.Product.Name</a>
            </div>
        </div>
    </div>
</div>
<div class="product-detail mt-5" >
    <div class="container" style="width: 1000px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="container">
                    <div class="row">
                        <div class="img-2 col-lg-12">
                            <img src="@Model.Product.Image" alt="Product 3" class="img-fluid">
                        </div>
                        <div class="col-lg-12 mt-3">
                            <div class="container">
                                <div class="row image-slider-2">
                                    <div class="col-3 slider-wrapper-2">
                                        <img src="@Model.Product.Image" alt="Product 3" class="img-fluid">
                                    </div>
                                    <div class="col-3 slider-wrapper-2">
                                        <img src="@Model.Product.Image" alt="Product 3" class="img-fluid">
                                    </div>
                                    <div class="col-3 slider-wrapper-2">
                                        <img src="@Model.Product.Image" alt="Product 3" class="img-fluid">
                                    </div>
                                    <div class="col-3 slider-wrapper-2">
                                        <img src="@Model.Product.Image" alt="Product 3" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <div class="col-12 order-lg-1 order-2 pt-10 pt-lg-0">
                        <div class="single-product-content">
                            <h2 class="title">@Model.Product.Name</h2>
                            <div class="price-box">
                                @if (Model.Product.PriceSale == 0)
                                {
                                    <p class="new-price text-danger" style="margin-bottom: 5px">
                                        <span>@Model.Product.Price₫</span>
                                    </p>
                                }
                                else
                                {
                                    <p class="new-price text-danger" style="margin-bottom: 0px">
                                        <span>@Model.Product.PriceSale₫</span>
                                    </p>
                                    <p class="old-price">
                                        <span>@Model.Product.Price₫</span>
                                    </p>
                                }
                            </div>
                            <div class="rating-box-wrap pb-7">
                                <div class="rating-box">
                                    <ul>
                                        @for (var i = 0; i < Model.Star; i++)
                                        {
                                            <li><i class="fa-solid fa-star" style="color: #FFD43B;"></i></li>
                                        }
                                    </ul>
                                </div>
                                <div class="review-status ps-4 ml-2">
                                    <a href="javascript:void(0)">(@productReView.Count() Đánh giá)</a>
                                </div>
                            </div>
                            <p class="short-desc">
                                @Model.Product.Description
                            </p>
                            <ul class="quantity-with-btn pb-7">
                                <li class="quantity">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" value="1" type="text">
                                        <div class="dec qtybutton">
                                            <i class="fa fa-minus"></i>
                                        </div>
                                        <div class="inc qtybutton">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                    </div>
                                </li>
                                <li class="add-to-cart">
                                    <a class="btn btn-custom-size lg-size btn-primary btn-secondary-hover rounded-0" href="cart.html">Thêm vào giỏ</a>
                                </li>
                                <li class="wishlist-btn-wrap ml-2">
                                    <i class="fas fa-heart heart" onclick="toggleHeart(this)"></i>
                                </li>
                            </ul>
                            <div class="product-category text-matterhorn pb-2">
                                <span class="title">Categories :</span>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">@Model.Product.Category.Name</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-category product-tags text-matterhorn pb-2">
                                <span class="title">Product Tags :</span>
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)">Organic,</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Vegetable,</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Fruits</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="social-link align-items-center pb-lg-8">
                                <span class="title pe-3" style="margin-right: 10px">Share:</span>
                                <ul style="display: inline-block">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-pinterest-p"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-tumblr"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-tab-area section-space-top-100" style="margin-top: 60px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav product-tab-nav product-tab-style-2" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
                                Mô tả
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">
                                Đánh giá
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="btn btn-custom-size" id="shipping-tab" data-bs-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">
                                Giao hàng
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content product-tab-content">
                        <div class="tab-pane fade active show" id="description" role="tabpanel" aria-labelledby="description-tab">
                            <div class="product-description-body">
                                <p class="short-desc mb-0">
                                    @Html.Raw(Model.Product.Detail)
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                            <div class="product-review-body">
                                <h4 class="heading mb-5">(@productReView.Count() Đánh giá)</h4>
                                <ul class="user-info-wrap">
                                    @foreach (var item in productReView)
                                    {
                                        <li>
                                            <ul class="user-info">
                                                <li class="user-avatar">
                                                    <img src="~/img/user/user-1.jpg" alt="Product 3" class="img-fluid" />
                                                </li>
                                                <li class="user-comment">
                                                    <div class="rating-box">
                                                        <ul>
                                                            @for (var i = 0; i < item.Star; i++)
                                                            {
                                                                <li><i class="fa-solid fa-star" style="color: #FFD43B;"></i></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="meta">
                                                        <span><strong>@item.Name -</strong> @item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                                                    </div>
                                                    <p class="short-desc mb-0">
                                                        @item.Detail
                                                    </p>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                </ul>
                                @* Đánh giá *@
                                <div class="feedback-area pt-5">
                                    <h2 class="heading mb-1">Thêm đánh giá của bạn</h2>
                                    <p class="short-desc mb-3">Địa chỉ Emial của bạn không được bảo trống.</p>
                                    <div class="rating-box">
                                        <span>Đánh giá của bạn</span>
                                        <ul id="star-rating">
                                            <li><i class="fa-solid fa-star" style="color: #FFD43B;" data-value="1"></i></li>
                                            <li><i class="fa-solid fa-star" style="color: #FFD43B;" data-value="2"></i></li>
                                            <li><i class="fa-solid fa-star" style="color: #FFD43B;" data-value="3"></i></li>
                                            <li><i class="fa-solid fa-star" style="color: #FFD43B;" data-value="4"></i></li>
                                            <li><i class="fa-solid fa-star" style="color: #FFD43B;" data-value="5"></i></li>
                                        </ul>
                                    </div>
                                    <form asp-action="/product/@Model.Product.Alias-@Model.ProductId" class="feedback-form pt-8">
										<input asp-for="Star" type="hidden" id="star-value" name="star" />

                                        <div class="group-input">
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input asp-for="Name" type="text" name="name" placeholder="Họ tên của bạn*" class="input-field">
                                            </div>
                                            <div class="form-field me-md-6 mb-6 mb-md-0">
                                                <input asp-for="Email" type="text" name="email" placeholder="Email*" class="input-field">
                                            </div>
                                            <div class="form-field">
                                                <input asp-for="Phone" type="text" name="phone" placeholder="Số điện thoại" class="input-field">
                                            </div>
                                        </div>
                                        <div class="form-field mt-6">
                                            <textarea asp-for="Detail" name="detail" placeholder="Bình luận của bạn" class="textarea-field" style="height: 100px;"></textarea>
                                        </div>
                                        <div>
                                            <input type="hidden" name="ProductId" value="@Model.Product.ProductId" />
                                        </div>
                                        <div class="button-wrap mt-8">
                                            <button type="submit" value="submit" id="add" class="btn btn-custom-size lg-size btn-secondary btn-primary-hover btn-lg rounded-0" name="submit">Gửi đánh giá</button>
                                        </div>
                                    </form>

                                </div>
                                
                            </div>
                        </div>
                        <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
                            <div class="product-shipping-body">
                                <h4 class="title">Giao hàng</h4>
                                <p class="short-desc mb-4">
                                    Chúng tôi cam kết giao đồ trong vòng 30p
                                </p>
                                <h4 class="title">Hỗ trợ</h4>
                                <p class="short-desc mb-4">
                                    Nếu bạn muốn huỷ đơn hàng, bạn có thể liên hệ để chúng tôi giải quyết vấn đề của bạn
                                    Xin cảm ơn!
                                </p>
                                <h4 class="title">Cam kết</h4>
                                <p class="short-desc mb-0">
                                    Nếu đó là câu hỏi về chất lượng, chúng tôi sẽ gửi lại hoặc hoàn tiền cho bạn.
                                    Nếu bạn nhận được sản phẩm bị hư hỏng hoặc sai sản phẩm, 
                                    vui lòng liên hệ với chúng tôi và đính kèm một số hình ảnh về sản phẩm,
                                    chúng tôi sẽ đổi sản phẩm mới chính xác cho bạn sau khi xác nhận.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var statusMessage = '@TempData["StatusMessage"]';
            if (statusMessage) {
                toastr.success(statusMessage);
            }
        });
    </script>
}