<!--hehe-->
@model IEnumerable<DoAnNhom6.Models.TblProduct>
@foreach (var item in Model.Take(8))
{
    string sUrl = $"/product/{item.Alias}-{item.ProductId}.html";
    <div class="col-12 col-md-4 col-lg-4 border-1">
        <div class="product">
			<a href="@sUrl">
				<img src="@item.Image" alt="@item.Alias" class="img-fluid">
				<strong class="name-product">@item.Name</strong>
                    @if (@item.PriceSale == 0)
                    {
				        <p class="new-price text-danger">
                            <span>@item.Price₫</span>
                        </p>
                    }
                    else
                    {
                        <p class="new-price text-danger" style="margin-bottom: 0px">
						    <span >@item.PriceSale₫</span>
                        </p>
				    	<p class="old-price">
						    <span  >@item.Price₫</span>
                        </p>
                    }
				
            </a>
			<button class="btn btn-primary">Đặt hàng</button>
        </div>
    </div>


}

